*{
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.5;
}
body{
    background-color: #F28095;
    margin:0 0;
}
header, footer{
    width: 1000px;
    margin: 0 auto;
}
header{
    height:150px;
    background-color: #141a1a;
    background-image: url("bowl.png");
    color: #fff;
}